src/main/app/exception-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<flow name="exception-exampleFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/test" doc:name="HTTP"/>
		<validation:is-true expression="#[false]" doc:name="Validation"/>
		<catch-exception-strategy logException="false" doc:name="Catch Exception Strategy">
			<logger message="Exception is #[org.mule.util.ExceptionUtils.getStackTrace(exception)]" level="INFO" doc:name="Log Stack Trace"/>
		</catch-exception-strategy>
	</flow>
</mule>
